[mysqld]
# Use utf8mb4 as character code.
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
# Expand max column size (767 bytes -> 3072 bytes).
innodb_large_prefix=on
innodb_default_row_format=DYNAMIC
innodb_file_format=barracuda
innodb_file_per_table=on

[client]
# Use utf8mb4 as character code.
default-character-set=utf8mb4
